h1,h2,h3{
    font-family: 'Montserrat',sans-serif;
} 

h1,h2{
    font-weight: 700;
    line-height: 130%;
}

h2,h3{
    color: #242424;
}

h1{
    font-size: 4.8rem;
    color: #FFFFFF;
}

h2{
    font-size: 4rem;
    letter-spacing: -0.03em;
}

h3{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
}